body ,html {
    margin: 0;
    padding: 0;
}
.wrap {
    background-color: rgb(222,222,222);
    padding: 10px;
    overflow: hidden;
}

[class*='col-'] {
    float: left;
    height: 70px;
}
.box {
    margin: 10px;
    border: 1px solid #999;
    background-color: rgb(238,238,238);
    height: 50px;
}

@media (min-width: 769px) {
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-2 {
        width: 16.6666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.3333333%;
    }
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .col-sm-2 {
        width: 16.6666667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-8 {
        width: 66.6666667%;
    }
    .col-sm-12 {
        width: 100%;
    }
}