* {
    padding: 0;
    margin: 0;
}
body,html {
    height: 100%;
}

.universe {
    position: relative;
    width: 80%;
    float: right;
    background: url("../img/universe.jpg");
    height: 100%;
}
.command {
    width: 20%;
    box-sizing: border-box;
    float: left;
    background-color: #fff;
    padding: 10px;
}
/*.planet {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: rgb(58,0,210);
    border-radius: 100%;
    box-shadow: 0 0 0 48px #000,
                0 0 0 50px #fff,
                0 0 0 98px #000,
                0 0 0 100px #fff,
                0 0 0 148px #000,
                0 0 0 150px #fff,
                0 0 0 198px #000,
                0 0 0 200px #fff;
}*/
@keyframes move-map {
    0% {
        background-position: -849px 0; }

    100% {
        background-position: 0 0; }
}
.planet {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 50%;
    background: url('../img/world.png') repeat-x;
    background-color: rgb(197,242,246);
    background-size: auto 100%;
    animation: move-map 30s infinite linear;
    transform: rotate(-30deg);
    box-shadow: 0 0 30px rgba(0,0,0,0.5) inset;
}
.trail {
    width: 100%;
    height: 100%;
}
.trail div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
}
.trail1 {
    transform: scale(1.4,1.4);
}
.trail2 {
    transform: scale(1.8,1.8);
}
.trail3 {
    transform: scale(2.2,2.2);
}
.trail4 {
    transform: scale(2.6,2.6);
}
.planet:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
    z-index: 2;
}

.planet:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: radial-gradient(circle at 50% 80%, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
}
.command button {
    margin: 4px;
    padding: 2px 8px;
}
.ship {
    position: absolute;
    left: calc(50% - 50px);
    width: 100px;
    height: 30px;
    background-color: rgb(152,153,154);
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    perspective: 1200px;
    animation: rotate 10s infinite linear both paused;
}
.ship#ship1 {
    top: calc(50% - 15px + 135px);
    transform-origin: 50px -120px;
}
.ship#ship2 {
    top: calc(50% - 15px + 175px);
    transform-origin: 50px -160px;
}
.ship#ship3 {
    top: calc(50% - 15px + 215px);
    transform-origin: 50px -200px;
}
.ship#ship4 {
    top: calc(50% - 15px + 255px);
    transform-origin: 50px -240px;
}
.ship:before {
    content: '';
    display: block;
    float: left;
    height: 100%;
    width: 12px;
    border-radius: 15px 0 0 15px;
    background-color: rgb(58,0,210);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ship[data-status="run"] {
    animation-play-state: running;
}
.ship[data-status='pause'] {
    animation-play-state: paused;
}
.status {
    position: absolute;
    width: 100%;
    left: 0;
    top: -30px;
    color: red;
}