* {
    padding: 0;
    margin: 0;
}
.click {
    font-size: 20px;
    padding: 4px 10px;
    cursor: pointer;
    color: #fff;
    background-color: red;
    border: none;
    margin: 30px;
    outline: none;
}
.content {
    padding: 20px;
    line-height: 150%;
    text-indent: 2em;
}
.clickOpen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
.OpenMain {
    position: absolute;
    background-color: #fff;
    width: 340px;
    height: 240px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-170px,-120px);
    -moz-transform: translate(-170px,-120px);
    -ms-transform: translate(-170px,-120px);
    -o-transform: translate(-170px,-120px);
    transform: translate(-170px,-120px);
}
.OpenMain-header {
    position: absolute;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    background-color: red;
}
.OpenMain-content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: 150%;
    padding: 50px 20px 10px 20px;
}
.OpenMain-footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 6px 20px;
}
.OpenMain-footer button {
    background-color: red;
    cursor: pointer;
    float: right;
    width: 50px;
    height: 30px;
    border: none;
    color: #fff;
}
.OpenMain-footer button:first-child {
    margin-left: 10px;
}
[draggable="true"] {
    cursor: move;
}
[hidden="hidden"] {
    display: none;
}
