#item_box div {
    margin-left: 20px;
}

#item_box span {
    padding: 2px 5px;
}

.hide div {
    height: 0;
    overflow: hidden;
}

.text {
    display: inline-block;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
    -moz-user-select:none;
    margin: 4px 0;
}

.text::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 4px;
}
.hide .text::before {
    background: url("../img/close.png");
    background-size: cover;
}
.text::before {
    background: url("../img/open.png") center;
    background-size: cover;
}
.add {
    margin-left: 20px;
    margin-right: 10px;
}

.select>span{
    background-color: red;
    color: #fff;
}
.text button {
    display: none;
}
.text:hover button {
    display: inline-block;
    float: right;
}

